#flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  display: block;
  padding: 5px;
  width: 250px;
  margin: 7px 0px;

  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 6px;
}

label {
  margin-bottom: 50px;
  font-family: "Amatic SC", cursive;
  color: #fff;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

#outputReservation {
  h1 {
    margin-top: 50px;
    font-family: "Amatic SC", cursive;
    font-size: 54px;
    font-weight: 500;
    color: #fff;
  }
  #stickyNote {
    font-family: "Amatic SC", cursive;
    font-size: 24px;
    width: 80%;
    transform: rotate(-10deg);
    background-image: url("/src/media/restaurant_notepad.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 20px;
  }
}

#submit {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(7, 70, 7);
  margin-top: 10px;
  color: #fff;
  margin: 10px auto;
}
