* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}
a img {
  border: none;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}
